@media(min-width: 600px) and (max-width: 1440px){
 body{
  width: 70%;
  margin: 0 auto;
  text-align: center;
 }
 
 .AR .image,
 .DMR .image2,
 .SR .image3,
 .SMG .image4,
 .LMG .image5,
 .SG .image6,
 .SW .image7,
 .AMM .image8{
    pointer-events: none;
    opacity: 0.4;
 }
 .AR .middle1,
 .DMR .middle2,
 .SR .middle3,
 .SMG .middle4,
 .LMG .middle5,
 .SG .middle6,
 .SW .middle7,
 .AMM .middle8{
  opacity: 1;
 }
}

*{margin:0; padding:0;}

header{
  text-align: center;
}
.AR,.DMR,.SR,.SMG,.LMG,.SG,.SW,.AMM{
    display: inline;
    position: relative;
    width: 50%;
}

.image,.image2,.image3,.image4,.image5,.image6,.image7,.image8{
  opacity: 1;
  width: 300px;
  height: 150px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle1,.middle2,.middle3,.middle4,.middle5,.middle6,.middle7,.middle8{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -250%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.AR:hover .image,
.DMR:hover .image2,
.SR:hover .image3,
.SMG:hover .image4,
.LMG:hover .image5,
.SG:hover .image6,
.SW:hover .image7,
.AMM:hover .image8{
  opacity: 0.5;
}

.AR:hover .middle1,
.DMR:hover .middle2,
.SR:hover .middle3,
.SMG:hover .middle4,
.LMG:hover .middle5,
.SG:hover .middle6,
.SW:hover .middle7,
.AMM:hover .middle8{
  opacity: 1;
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8{
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}
.bx-wrapper, .bx-window {
    margin:30px auto; width:940px;
}

.pager{
    width:940px; 
}

#slider1 li{
    margin-left:0px;
}